# Xcode
TsoiMechanism.xcodeproj*
build/*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.DS_Store
build/TsoiMechanism.build/TsoiMechanism.pbxindex/categories.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/cdecls.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/decls.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/files.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/imports.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/pbxindex.header

build/TsoiMechanism.build/TsoiMechanism.pbxindex/protocols.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/refs.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/strings.pbxstrings/control

build/TsoiMechanism.build/TsoiMechanism.pbxindex/strings.pbxstrings/strings

build/TsoiMechanism.build/TsoiMechanism.pbxindex/subclasses.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/symbols0.pbxsymbols

build/TsoiMechanism.build/TsoiMechanism.pbxindex/categories.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/cdecls.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/decls.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/files.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/imports.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/pbxindex.header

build/TsoiMechanism.build/TsoiMechanism.pbxindex/imports.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/files.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/protocols.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/refs.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/strings.pbxstrings/control

build/TsoiMechanism.build/TsoiMechanism.pbxindex/strings.pbxstrings/strings

build/TsoiMechanism.build/TsoiMechanism.pbxindex/subclasses.pbxbtree

build/TsoiMechanism.build/TsoiMechanism.pbxindex/symbols0.pbxsymbols
